@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
/* General Design */
:root {
    --bg-color: hsl(251, 10%, 22%);
    --card-color: #201f25;
    --accent-color: #34323d;

    --border-color: #3f3d45;
    --text-color: #efefef;
}
* {
    margin: 0;
    padding: 0;
    font: 500;
}
html {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5rem;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    background-color: var(--bg-color);
    color: var(--text-color);

    grid-template-columns: auto 1fr;
}
main {
    display: grid;
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 0.05fr 1fr 0.05fr;
    overflow: hidden;
    text-overflow: clip;
}
main .container {
    grid-row: 2;
    grid-column: 2;
}
/* Sidebar */
#sidebar {
    box-sizing: border-box;
    border:none;
    display: flex;
    padding: 10px 0;
    width: 200px;
    height: 100vh;

    background-color: var(--card-color);
    flex-flow: column nowrap;
    position: relative;

    transition: width 250ms ease-out;
    overflow: hidden;
    text-overflow: clip;
    text-wrap: nowrap;
}
/* Sidebar States */
#sidebar.close {
    width: 50px;
}

/* Sidebar List and List Elements */
#sidebar ul {
    display: flex;
    height: 100vh;
    flex-direction: column;
    list-style: none;
}
#sidebar>ul>li:first-child{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 10px;
}
#sidebar>ul>li:last-child {
    margin-top: auto;
}
/* Sidebar Links */
#sidebar a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;

    background-color: var(--button);
    
    gap: 1em;
    
    text-decoration-line: none;
    color: var(--text-color);
}
#sidebar button {
    background: none;
    border: none;
    cursor: pointer;
}
/* Content */
span.close {
    display: none;
}
.card {
    display: flex;
    background-color: var(--card-color);
    border: 3px solid var(--border-color);
    justify-content: center;
    align-items: center;
}
/* Icon */
.icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    fill: #ffffff;
}
/* Text Adjustments */