:root{
    --bg-page: #3d3d3d;
    --bg-primary:#494f5b;
    --bg-top:#11151C;
    --bg-side:#19212E;
    --bg-card:#202c40;

    --button: #19212E;
    --button-active: rgb(32, 37, 43);
    --button-disabled: #2C374B;

    --accent:#deff85;
    --accent-hover:#272727;

    --text-primary:#ffffff;
    --text-secondary:#d5d5d5;

    --border:#a8ccff;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    font-family: 'Calibri', sans-serif;
    
    background-color: var(--bg-page);
    margin: 0;
    height: 100vh;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1px;
}

/* LAYOUT */
.layout {
    flex: 1;
    display: flex;
    gap: 1px;
}

.col { flex-direction: column; }
.row { flex-direction: row; }
.flex { display:flex; flex: 1}

/* Top Frame */
.upperframe {

}

.toppanel {
    color: var(--text-primary);
    background: var(--bg-top);
    display: flex;
    width: 100%;
    height: 20px;
}

.toolbar {
    color: var(--text-primary);
    background: var(--bg-side);
    display: flex;
    width: 100%;
    height: 60px;
}

/* Content */
.content {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary)
}


/* Sidebar */
.sidepanel {
    background: var(--bg-side);
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 275px;

    justify-content: flex-start;
    gap: 15px;
}

.sidebox{
    background-color: var(--bg-side);
    width: 100%;
    height: 100px;
    border-bottom: var(--bg-page) solid 1px;
}

.sidebutton {
    /* Frame Adjustment */
    background-color: var(--button);
    border-style: none;
    width: 100%;
    height: 80px;
    

    /* Text Adjustment */
    color: var(--text-primary);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 48px;
    font-family: "Calibri", "Comic Sans MS";
    font-weight: 700;
    font-variant: small-caps;
}
.sidebutton:active{
    background-color: var(--button-active);
}